In [1]:
import pandas as pd
df = pd.read_csv('clean_madrid_data.csv')
df

          ESTACION_NOMBRE                 DATE          MAGNITUD  VALUE
0        J.M.D. Moratalaz  2023-05-01 00:00:00  VELOCIDAD VIENTO   4.50
1        J.M.D. Moratalaz  2023-05-01 01:00:00  VELOCIDAD VIENTO   3.98
2        J.M.D. Moratalaz  2023-05-01 02:00:00  VELOCIDAD VIENTO   4.60
3        J.M.D. Moratalaz  2023-05-01 03:00:00  VELOCIDAD VIENTO   3.53
4        J.M.D. Moratalaz  2023-05-01 04:00:00  VELOCIDAD VIENTO   2.78
...                   ...                  ...               ...    ...
4642939     Juan Carlos I  2021-07-31 19:00:00     PRECIPITACIÓN   0.00
4642940     Juan Carlos I  2021-07-31 20:00:00     PRECIPITACIÓN   0.00
4642941     Juan Carlos I  2021-07-31 21:00:00     PRECIPITACIÓN   0.00
4642942     Juan Carlos I  2021-07-31 22:00:00     PRECIPITACIÓN   0.00
4642943     Juan Carlos I  2021-07-31 23:00:00     PRECIPITACIÓN   0.00

[4642944 rows x 4 columns]

In [2]:
df_clean = pd.pivot_table(df, index=['ESTACION_NOMBRE','DATE'], columns='MAGNITUD', values='VALUE', aggfunc='mean')
df_clean

MAGNITUD                              DIR. DE VIENTO  HUMEDAD RELATIVA  \
ESTACION_NOMBRE  DATE
Arturo Soria     2019-01-01 00:00:00             NaN              57.0
                 2019-01-01 01:00:00             NaN              57.0
                 2019-01-01 02:00:00             NaN              57.0
                 2019-01-01 03:00:00             NaN              56.0
                 2019-01-01 04:00:00             NaN              59.0
...                                              ...               ...
Plaza del Carmen 2024-04-15 15:00:00             NaN              29.0
                 2024-07-08 11:00:00             NaN              36.0
                 2024-07-08 12:00:00             NaN              27.0
                 2024-07-17 04:00:00             NaN              28.0
                 2022-09-08 13:00:00             NaN              37.0

MAGNITUD                              PRECIPITACIÓN  PRESION BAROMÉTRICA  \
ESTACION_NOMBRE  DATE
Arturo Soria     2019-01-01 00:00:00            NaN                  NaN
                 2019-01-01 01:00:00            NaN                  NaN
                 2019-01-01 02:00:00            NaN                  NaN
                 2019-01-01 03:00:00            NaN                  NaN
                 2019-01-01 04:00:00            NaN                  NaN
...                                             ...                  ...
Plaza del Carmen 2024-04-15 15:00:00            NaN                  NaN
                 2024-07-08 11:00:00            NaN                  NaN
                 2024-07-08 12:00:00            NaN                  NaN
                 2024-07-17 04:00:00            NaN                  NaN
                 2022-09-08 13:00:00            NaN                  NaN

MAGNITUD                              RADIACION SOLAR  RADIACIÓN ULTRAVIOLETA  \
ESTACION_NOMBRE  DATE
Arturo Soria     2019-01-01 00:00:00              NaN                     NaN
                 2019-01-01 01:00:00              NaN                     NaN
                 2019-01-01 02:00:00              NaN                     NaN
                 2019-01-01 03:00:00              NaN                     NaN
                 2019-01-01 04:00:00              NaN                     NaN
...                                               ...                     ...
Plaza del Carmen 2024-04-15 15:00:00              NaN                     NaN
                 2024-07-08 11:00:00              NaN                     NaN
                 2024-07-08 12:00:00              NaN                     NaN
                 2024-07-17 04:00:00              NaN                     NaN
                 2022-09-08 13:00:00              NaN                     NaN

MAGNITUD                              TEMPERATURA  VELOCIDAD VIENTO
ESTACION_NOMBRE  DATE
Arturo Soria     2019-01-01 00:00:00          NaN               NaN
                 2019-01-01 01:00:00          NaN               NaN
                 2019-01-01 02:00:00          NaN               NaN
                 2019-01-01 03:00:00          NaN               NaN
                 2019-01-01 04:00:00          NaN               NaN
...                                           ...               ...
Plaza del Carmen 2024-04-15 15:00:00         29.1               NaN
                 2024-07-08 11:00:00         26.3               NaN
                 2024-07-08 12:00:00         28.2               NaN
                 2024-07-17 04:00:00         22.6               NaN
                 2022-09-08 13:00:00         27.0               NaN

[1268203 rows x 8 columns]

In [3]:
df_clean.isnull().sum()

MAGNITUD
DIR. DE VIENTO             775763
HUMEDAD RELATIVA           151569
PRECIPITACIÓN              769733
PRESION BAROMÉTRICA        878485
RADIACION SOLAR            872706
RADIACIÓN ULTRAVIOLETA    1258167
TEMPERATURA                102531
VELOCIDAD VIENTO           775742
dtype: int64

In [4]:
df_clean

MAGNITUD                              DIR. DE VIENTO  HUMEDAD RELATIVA  \
ESTACION_NOMBRE  DATE
Arturo Soria     2019-01-01 00:00:00             NaN              57.0
                 2019-01-01 01:00:00             NaN              57.0
                 2019-01-01 02:00:00             NaN              57.0
                 2019-01-01 03:00:00             NaN              56.0
                 2019-01-01 04:00:00             NaN              59.0
...                                              ...               ...
Plaza del Carmen 2024-04-15 15:00:00             NaN              29.0
                 2024-07-08 11:00:00             NaN              36.0
                 2024-07-08 12:00:00             NaN              27.0
                 2024-07-17 04:00:00             NaN              28.0
                 2022-09-08 13:00:00             NaN              37.0

MAGNITUD                              PRECIPITACIÓN  PRESION BAROMÉTRICA  \
ESTACION_NOMBRE  DATE
Arturo Soria     2019-01-01 00:00:00            NaN                  NaN
                 2019-01-01 01:00:00            NaN                  NaN
                 2019-01-01 02:00:00            NaN                  NaN
                 2019-01-01 03:00:00            NaN                  NaN
                 2019-01-01 04:00:00            NaN                  NaN
...                                             ...                  ...
Plaza del Carmen 2024-04-15 15:00:00            NaN                  NaN
                 2024-07-08 11:00:00            NaN                  NaN
                 2024-07-08 12:00:00            NaN                  NaN
                 2024-07-17 04:00:00            NaN                  NaN
                 2022-09-08 13:00:00            NaN                  NaN

MAGNITUD                              RADIACION SOLAR  RADIACIÓN ULTRAVIOLETA  \
ESTACION_NOMBRE  DATE
Arturo Soria     2019-01-01 00:00:00              NaN                     NaN
                 2019-01-01 01:00:00              NaN                     NaN
                 2019-01-01 02:00:00              NaN                     NaN
                 2019-01-01 03:00:00              NaN                     NaN
                 2019-01-01 04:00:00              NaN                     NaN
...                                               ...                     ...
Plaza del Carmen 2024-04-15 15:00:00              NaN                     NaN
                 2024-07-08 11:00:00              NaN                     NaN
                 2024-07-08 12:00:00              NaN                     NaN
                 2024-07-17 04:00:00              NaN                     NaN
                 2022-09-08 13:00:00              NaN                     NaN

MAGNITUD                              TEMPERATURA  VELOCIDAD VIENTO
ESTACION_NOMBRE  DATE
Arturo Soria     2019-01-01 00:00:00          NaN               NaN
                 2019-01-01 01:00:00          NaN               NaN
                 2019-01-01 02:00:00          NaN               NaN
                 2019-01-01 03:00:00          NaN               NaN
                 2019-01-01 04:00:00          NaN               NaN
...                                           ...               ...
Plaza del Carmen 2024-04-15 15:00:00         29.1               NaN
                 2024-07-08 11:00:00         26.3               NaN
                 2024-07-08 12:00:00         28.2               NaN
                 2024-07-17 04:00:00         22.6               NaN
                 2022-09-08 13:00:00         27.0               NaN

[1268203 rows x 8 columns]

In [5]:
df_clean = df_clean.reset_index()
df_completo = df_clean[['ESTACION_NOMBRE', 'DATE', 'HUMEDAD RELATIVA', 'TEMPERATURA', 'PRECIPITACIÓN']]
df_completo

MAGNITUD,ESTACION_NOMBRE,DATE,HUMEDAD RELATIVA,TEMPERATURA,PRECIPITACIÓN
0,Arturo Soria,2019-01-01 00:00:00,57.0,NaN,NaN
1,Arturo Soria,2019-01-01 01:00:00,57.0,NaN,NaN
2,Arturo Soria,2019-01-01 02:00:00,57.0,NaN,NaN
3,Arturo Soria,2019-01-01 03:00:00,56.0,NaN,NaN
4,Arturo Soria,2019-01-01 04:00:00,59.0,NaN,NaN
...,...,...,...,...,...
1268198,Plaza del Carmen,2024-04-15 15:00:00,29.0,29.1,NaN
1268199,Plaza del Carmen,2024-07-08 11:00:00,36.0,26.3,NaN
1268200,Plaza del Carmen,2024-07-08 12:00:00,27.0,28.2,NaN
1268201,Plaza del Carmen,2024-07-17 04:00:00,28.0,22.6,NaN
1268202,Plaza del Carmen,2022-09-08 13:00:00,37.0,27.0,NaN

In [6]:
df_completo.dropna(subset=['TEMPERATURA', 'HUMEDAD RELATIVA'], inplace=True)
df_completo['PRECIPITACIÓN'] = df_completo['PRECIPITACIÓN'].fillna(0)

/tmp/ipykernel_7549/2684420014.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_completo.dropna(subset=['TEMPERATURA', 'HUMEDAD RELATIVA'], inplace=True)
/tmp/ipykernel_7549/2684420014.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_completo['PRECIPITACIÓN'] = df_completo['PRECIPITACIÓN'].fillna(0)

In [7]:
df_completo.isnull().sum()

MAGNITUD
ESTACION_NOMBRE     0
DATE                0
HUMEDAD RELATIVA    0
TEMPERATURA         0
PRECIPITACIÓN       0
dtype: int64

In [8]:
df_completo

MAGNITUD,ESTACION_NOMBRE,DATE,HUMEDAD RELATIVA,TEMPERATURA,PRECIPITACIÓN
27028,Arturo Soria,2022-02-01 00:00:00,53.0,6.9,0.0
27029,Arturo Soria,2022-02-01 01:00:00,53.0,7.3,0.0
27030,Arturo Soria,2022-02-01 02:00:00,56.0,6.9,0.0
27031,Arturo Soria,2022-02-01 03:00:00,57.0,6.8,0.0
27032,Arturo Soria,2022-02-01 04:00:00,56.0,6.7,0.0
...,...,...,...,...,...
1268198,Plaza del Carmen,2024-04-15 15:00:00,29.0,29.1,0.0
1268199,Plaza del Carmen,2024-07-08 11:00:00,36.0,26.3,0.0
1268200,Plaza del Carmen,2024-07-08 12:00:00,27.0,28.2,0.0
1268201,Plaza del Carmen,2024-07-17 04:00:00,28.0,22.6,0.0
1268202,Plaza del Carmen,2022-09-08 13:00:00,37.0,27.0,0.0

In [10]:
df_completo

MAGNITUD,ESTACION_NOMBRE,DATE,HUMEDAD RELATIVA,TEMPERATURA,PRECIPITACIÓN
27028,Arturo Soria,2022-02-01 00:00:00,53.0,6.9,0.0
27029,Arturo Soria,2022-02-01 01:00:00,53.0,7.3,0.0
27030,Arturo Soria,2022-02-01 02:00:00,56.0,6.9,0.0
27031,Arturo Soria,2022-02-01 03:00:00,57.0,6.8,0.0
27032,Arturo Soria,2022-02-01 04:00:00,56.0,6.7,0.0
...,...,...,...,...,...
1268198,Plaza del Carmen,2024-04-15 15:00:00,29.0,29.1,0.0
1268199,Plaza del Carmen,2024-07-08 11:00:00,36.0,26.3,0.0
1268200,Plaza del Carmen,2024-07-08 12:00:00,27.0,28.2,0.0
1268201,Plaza del Carmen,2024-07-17 04:00:00,28.0,22.6,0.0
1268202,Plaza del Carmen,2022-09-08 13:00:00,37.0,27.0,0.0

In [9]:
df_completo.to_csv('../../transformed/madrid.csv', index=False)

In [23]:
for i in list(df_completo['ESTACION_NOMBRE'].unique()):
    print(i,df_clean[df_clean['ESTACION_NOMBRE'] == i][['ESTACION_NOMBRE', 'DATE', 'HUMEDAD RELATIVA', 'TEMPERATURA', 'PRECIPITACIÓN']].isnull().sum())

Arturo Soria MAGNITUD
ESTACION_NOMBRE         0
DATE                    0
HUMEDAD RELATIVA       54
TEMPERATURA         27032
PRECIPITACIÓN       50873
dtype: int64
Barrio del Pilar MAGNITUD
ESTACION_NOMBRE         0
DATE                    0
HUMEDAD RELATIVA       62
TEMPERATURA         26915
PRECIPITACIÓN         400
dtype: int64
Casa de Campo MAGNITUD
ESTACION_NOMBRE       0
DATE                  0
HUMEDAD RELATIVA    139
TEMPERATURA         143
PRECIPITACIÓN       501
dtype: int64
Centro Mpal. De Acústica MAGNITUD
ESTACION_NOMBRE       0
DATE                  0
HUMEDAD RELATIVA    384
TEMPERATURA         336
PRECIPITACIÓN       595
dtype: int64
Cuatro Caminos MAGNITUD
ESTACION_NOMBRE         0
DATE                    0
HUMEDAD RELATIVA        1
TEMPERATURA            15
PRECIPITACIÓN       52817
dtype: int64
E.D.A.R. La China MAGNITUD
ESTACION_NOMBRE         0
DATE                    0
HUMEDAD RELATIVA    46097
TEMPERATURA         46097
PRECIPITACIÓN       46097
dtype: int64
El Pardo MAGNITUD
ESTACION_NOMBRE         0
DATE                    0
HUMEDAD RELATIVA       20
TEMPERATURA           224
PRECIPITACIÓN       53132
dtype: int64
Ensanche de Vallecas MAGNITUD
ESTACION_NOMBRE       0
DATE                  0
HUMEDAD RELATIVA     13
TEMPERATURA          17
PRECIPITACIÓN       468
dtype: int64
Escuelas Aguirre MAGNITUD
ESTACION_NOMBRE         0
DATE                    0
HUMEDAD RELATIVA       56
TEMPERATURA             6
PRECIPITACIÓN       52365
dtype: int64
Hortaleza MAGNITUD
ESTACION_NOMBRE        0
DATE                   0
HUMEDAD RELATIVA    1822
TEMPERATURA         1439
PRECIPITACIÓN        106
dtype: int64
J.M.D. Centro MAGNITUD
ESTACION_NOMBRE         0
DATE                    0
HUMEDAD RELATIVA        0
TEMPERATURA             0
PRECIPITACIÓN       43721
dtype: int64
J.M.D. Chamartín MAGNITUD
ESTACION_NOMBRE         0
DATE                    0
HUMEDAD RELATIVA        0
TEMPERATURA             0
PRECIPITACIÓN       34291
dtype: int64
J.M.D. Chamberí MAGNITUD
ESTACION_NOMBRE         0
DATE                    0
HUMEDAD RELATIVA     1514
TEMPERATURA             0
PRECIPITACIÓN       44011
dtype: int64
J.M.D. Moratalaz MAGNITUD
ESTACION_NOMBRE      0
DATE                 0
HUMEDAD RELATIVA     0
TEMPERATURA          0
PRECIPITACIÓN       49
dtype: int64
J.M.D. Vallecas 1 MAGNITUD
ESTACION_NOMBRE         0
DATE                    0
HUMEDAD RELATIVA        5
TEMPERATURA             0
PRECIPITACIÓN       46034
dtype: int64
J.M.D. Vallecas 2 MAGNITUD
ESTACION_NOMBRE         0
DATE                    0
HUMEDAD RELATIVA        5
TEMPERATURA             0
PRECIPITACIÓN       47883
dtype: int64
J.M.D. Villaverde MAGNITUD
ESTACION_NOMBRE       0
DATE                  0
HUMEDAD RELATIVA     83
TEMPERATURA          67
PRECIPITACIÓN       643
dtype: int64
Juan Carlos I MAGNITUD
ESTACION_NOMBRE       0
DATE                  0
HUMEDAD RELATIVA     10
TEMPERATURA           7
PRECIPITACIÓN       945
dtype: int64
Matadero 01 MAGNITUD
ESTACION_NOMBRE         0
DATE                    0
HUMEDAD RELATIVA        0
TEMPERATURA             0
PRECIPITACIÓN       43598
dtype: int64
Matadero 02 MAGNITUD
ESTACION_NOMBRE         0
DATE                    0
HUMEDAD RELATIVA        1
TEMPERATURA             0
PRECIPITACIÓN       46911
dtype: int64
Moratalaz MAGNITUD
ESTACION_NOMBRE         0
DATE                    0
HUMEDAD RELATIVA       13
TEMPERATURA             7
PRECIPITACIÓN       53018
dtype: int64
Peñagrande MAGNITUD
ESTACION_NOMBRE        0
DATE                   0
HUMEDAD RELATIVA    1934
TEMPERATURA           54
PRECIPITACIÓN         31
dtype: int64
Plaza Elíptica MAGNITUD
ESTACION_NOMBRE       0
DATE                  0
HUMEDAD RELATIVA     15
TEMPERATURA          18
PRECIPITACIÓN       485
dtype: int64
Plaza del Carmen MAGNITUD
ESTACION_NOMBRE         0
DATE                    0
HUMEDAD RELATIVA        1
TEMPERATURA           154
PRECIPITACIÓN       51419
dtype: int64

In [24]:
estaciones_seleccionadas = ['J.M.D Moratalaz', 'Ensanche de Vallecas', 'Plaza Elíptica', 'Casa de Campo', 'J.M.D Villaverde', 'Juan Carlos I']

In [27]:
df_prueba = df_clean[df_clean['ESTACION_NOMBRE'].isin(estaciones_seleccionadas)][['ESTACION_NOMBRE', 'DATE', 'HUMEDAD RELATIVA', 'TEMPERATURA', 'PRECIPITACIÓN']]
df_prueba

MAGNITUD,ESTACION_NOMBRE,DATE,HUMEDAD RELATIVA,TEMPERATURA,PRECIPITACIÓN
103912,Casa de Campo,2019-01-01 00:00:00,85.0,-0.4,0.0
103913,Casa de Campo,2019-01-01 01:00:00,86.0,-0.8,0.0
103914,Casa de Campo,2019-01-01 02:00:00,87.0,-1.3,0.0
103915,Casa de Campo,2019-01-01 03:00:00,89.0,-1.7,0.0
103916,Casa de Campo,2019-01-01 04:00:00,91.0,-1.9,0.0
...,...,...,...,...,...
1170217,Plaza Elíptica,2024-07-08 11:00:00,34.0,27.4,0.0
1170218,Plaza Elíptica,2024-07-08 12:00:00,25.0,29.0,0.0
1170219,Plaza Elíptica,2024-07-17 04:00:00,32.0,19.7,0.0
1170220,Plaza Elíptica,2022-09-08 13:00:00,44.0,26.7,0.0
1170221,Plaza Elíptica,2022-09-23 11:00:00,60.0,22.9,0.0

In [28]:
df_prueba.isnull().sum()

MAGNITUD
ESTACION_NOMBRE        0
DATE                   0
HUMEDAD RELATIVA     177
TEMPERATURA          185
PRECIPITACIÓN       2399
dtype: int64

In [35]:
df_prueba['PRECIPITACIÓN'].fillna(0, inplace=True)

df_prueba[['HUMEDAD RELATIVA', 'TEMPERATURA']] = df_prueba[['HUMEDAD RELATIVA', 'TEMPERATURA']].fillna(method='ffill').fillna(method='bfill')

df_prueba.isnull().sum()

/tmp/ipykernel_7549/1476590550.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_prueba['PRECIPITACIÓN'].fillna(0, inplace=True)
/tmp/ipykernel_7549/1476590550.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_prueba[['HUMEDAD RELATIVA', 'TEMPERATURA']] = df_prueba[['HUMEDAD RELATIVA', 'TEMPERATURA']].fillna(method='ffill').fillna(method='bfill')

MAGNITUD
ESTACION_NOMBRE     0
DATE                0
HUMEDAD RELATIVA    0
TEMPERATURA         0
PRECIPITACIÓN       0
dtype: int64

In [34]:
df_prueba

MAGNITUD,ESTACION_NOMBRE,DATE,HUMEDAD RELATIVA,TEMPERATURA,PRECIPITACIÓN
103912,Casa de Campo,2019-01-01 00:00:00,85.0,-0.4,0.0
103913,Casa de Campo,2019-01-01 01:00:00,86.0,-0.8,0.0
103914,Casa de Campo,2019-01-01 02:00:00,87.0,-1.3,0.0
103915,Casa de Campo,2019-01-01 03:00:00,89.0,-1.7,0.0
103916,Casa de Campo,2019-01-01 04:00:00,91.0,-1.9,0.0
...,...,...,...,...,...
1170217,Plaza Elíptica,2024-07-08 11:00:00,34.0,27.4,0.0
1170218,Plaza Elíptica,2024-07-08 12:00:00,25.0,29.0,0.0
1170219,Plaza Elíptica,2024-07-17 04:00:00,32.0,19.7,0.0
1170220,Plaza Elíptica,2022-09-08 13:00:00,44.0,26.7,0.0
1170221,Plaza Elíptica,2022-09-23 11:00:00,60.0,22.9,0.0