In [53]:
import pandas as pd
df = pd.read_csv('clean_madrid_data.csv')
df

          ESTACION_NOMBRE                 DATE          MAGNITUD  VALUE
0        J.M.D. Moratalaz  2023-05-01 00:00:00  VELOCIDAD VIENTO   4.50
1        J.M.D. Moratalaz  2023-05-01 01:00:00  VELOCIDAD VIENTO   3.98
2        J.M.D. Moratalaz  2023-05-01 02:00:00  VELOCIDAD VIENTO   4.60
3        J.M.D. Moratalaz  2023-05-01 03:00:00  VELOCIDAD VIENTO   3.53
4        J.M.D. Moratalaz  2023-05-01 04:00:00  VELOCIDAD VIENTO   2.78
...                   ...                  ...               ...    ...
4642939     Juan Carlos I  2021-07-31 19:00:00     PRECIPITACIÓN   0.00
4642940     Juan Carlos I  2021-07-31 20:00:00     PRECIPITACIÓN   0.00
4642941     Juan Carlos I  2021-07-31 21:00:00     PRECIPITACIÓN   0.00
4642942     Juan Carlos I  2021-07-31 22:00:00     PRECIPITACIÓN   0.00
4642943     Juan Carlos I  2021-07-31 23:00:00     PRECIPITACIÓN   0.00

[4642944 rows x 4 columns]

In [54]:
df_clean = pd.pivot_table(df, index=['ESTACION_NOMBRE','DATE'], columns='MAGNITUD', values='VALUE', aggfunc='mean')
df_clean

MAGNITUD                              DIR. DE VIENTO  HUMEDAD RELATIVA  \
ESTACION_NOMBRE  DATE
Arturo Soria     2019-01-01 00:00:00             NaN              57.0
                 2019-01-01 01:00:00             NaN              57.0
                 2019-01-01 02:00:00             NaN              57.0
                 2019-01-01 03:00:00             NaN              56.0
                 2019-01-01 04:00:00             NaN              59.0
...                                              ...               ...
Plaza del Carmen 2024-04-15 15:00:00             NaN              29.0
                 2024-07-08 11:00:00             NaN              36.0
                 2024-07-08 12:00:00             NaN              27.0
                 2024-07-17 04:00:00             NaN              28.0
                 2022-09-08 13:00:00             NaN              37.0

MAGNITUD                              PRECIPITACIÓN  PRESION BAROMÉTRICA  \
ESTACION_NOMBRE  DATE
Arturo Soria     2019-01-01 00:00:00            NaN                  NaN
                 2019-01-01 01:00:00            NaN                  NaN
                 2019-01-01 02:00:00            NaN                  NaN
                 2019-01-01 03:00:00            NaN                  NaN
                 2019-01-01 04:00:00            NaN                  NaN
...                                             ...                  ...
Plaza del Carmen 2024-04-15 15:00:00            NaN                  NaN
                 2024-07-08 11:00:00            NaN                  NaN
                 2024-07-08 12:00:00            NaN                  NaN
                 2024-07-17 04:00:00            NaN                  NaN
                 2022-09-08 13:00:00            NaN                  NaN

MAGNITUD                              RADIACION SOLAR  RADIACIÓN ULTRAVIOLETA  \
ESTACION_NOMBRE  DATE
Arturo Soria     2019-01-01 00:00:00              NaN                     NaN
                 2019-01-01 01:00:00              NaN                     NaN
                 2019-01-01 02:00:00              NaN                     NaN
                 2019-01-01 03:00:00              NaN                     NaN
                 2019-01-01 04:00:00              NaN                     NaN
...                                               ...                     ...
Plaza del Carmen 2024-04-15 15:00:00              NaN                     NaN
                 2024-07-08 11:00:00              NaN                     NaN
                 2024-07-08 12:00:00              NaN                     NaN
                 2024-07-17 04:00:00              NaN                     NaN
                 2022-09-08 13:00:00              NaN                     NaN

MAGNITUD                              TEMPERATURA  VELOCIDAD VIENTO
ESTACION_NOMBRE  DATE
Arturo Soria     2019-01-01 00:00:00          NaN               NaN
                 2019-01-01 01:00:00          NaN               NaN
                 2019-01-01 02:00:00          NaN               NaN
                 2019-01-01 03:00:00          NaN               NaN
                 2019-01-01 04:00:00          NaN               NaN
...                                           ...               ...
Plaza del Carmen 2024-04-15 15:00:00         29.1               NaN
                 2024-07-08 11:00:00         26.3               NaN
                 2024-07-08 12:00:00         28.2               NaN
                 2024-07-17 04:00:00         22.6               NaN
                 2022-09-08 13:00:00         27.0               NaN

[1268203 rows x 8 columns]

In [55]:
df_clean.isnull().sum()

MAGNITUD
DIR. DE VIENTO             775763
HUMEDAD RELATIVA           151569
PRECIPITACIÓN              769733
PRESION BAROMÉTRICA        878485
RADIACION SOLAR            872706
RADIACIÓN ULTRAVIOLETA    1258167
TEMPERATURA                102531
VELOCIDAD VIENTO           775742
dtype: int64

In [62]:
df_clean

MAGNITUD                              DIR. DE VIENTO  HUMEDAD RELATIVA  \
ESTACION_NOMBRE  DATE
Arturo Soria     2019-01-01 00:00:00             NaN              57.0
                 2019-01-01 01:00:00             NaN              57.0
                 2019-01-01 02:00:00             NaN              57.0
                 2019-01-01 03:00:00             NaN              56.0
                 2019-01-01 04:00:00             NaN              59.0
...                                              ...               ...
Plaza del Carmen 2024-04-15 15:00:00             NaN              29.0
                 2024-07-08 11:00:00             NaN              36.0
                 2024-07-08 12:00:00             NaN              27.0
                 2024-07-17 04:00:00             NaN              28.0
                 2022-09-08 13:00:00             NaN              37.0

MAGNITUD                              PRECIPITACIÓN  PRESION BAROMÉTRICA  \
ESTACION_NOMBRE  DATE
Arturo Soria     2019-01-01 00:00:00            NaN                  NaN
                 2019-01-01 01:00:00            NaN                  NaN
                 2019-01-01 02:00:00            NaN                  NaN
                 2019-01-01 03:00:00            NaN                  NaN
                 2019-01-01 04:00:00            NaN                  NaN
...                                             ...                  ...
Plaza del Carmen 2024-04-15 15:00:00            NaN                  NaN
                 2024-07-08 11:00:00            NaN                  NaN
                 2024-07-08 12:00:00            NaN                  NaN
                 2024-07-17 04:00:00            NaN                  NaN
                 2022-09-08 13:00:00            NaN                  NaN

MAGNITUD                              RADIACION SOLAR  RADIACIÓN ULTRAVIOLETA  \
ESTACION_NOMBRE  DATE
Arturo Soria     2019-01-01 00:00:00              NaN                     NaN
                 2019-01-01 01:00:00              NaN                     NaN
                 2019-01-01 02:00:00              NaN                     NaN
                 2019-01-01 03:00:00              NaN                     NaN
                 2019-01-01 04:00:00              NaN                     NaN
...                                               ...                     ...
Plaza del Carmen 2024-04-15 15:00:00              NaN                     NaN
                 2024-07-08 11:00:00              NaN                     NaN
                 2024-07-08 12:00:00              NaN                     NaN
                 2024-07-17 04:00:00              NaN                     NaN
                 2022-09-08 13:00:00              NaN                     NaN

MAGNITUD                              TEMPERATURA  VELOCIDAD VIENTO
ESTACION_NOMBRE  DATE
Arturo Soria     2019-01-01 00:00:00          NaN               NaN
                 2019-01-01 01:00:00          NaN               NaN
                 2019-01-01 02:00:00          NaN               NaN
                 2019-01-01 03:00:00          NaN               NaN
                 2019-01-01 04:00:00          NaN               NaN
...                                           ...               ...
Plaza del Carmen 2024-04-15 15:00:00         29.1               NaN
                 2024-07-08 11:00:00         26.3               NaN
                 2024-07-08 12:00:00         28.2               NaN
                 2024-07-17 04:00:00         22.6               NaN
                 2022-09-08 13:00:00         27.0               NaN

[1268203 rows x 8 columns]

MAGNITUD,ESTACION_NOMBRE,DATE,DIR. DE VIENTO,HUMEDAD RELATIVA,PRECIPITACIÓN,PRESION BAROMÉTRICA,RADIACION SOLAR,RADIACIÓN ULTRAVIOLETA,TEMPERATURA,VELOCIDAD VIENTO
0,Arturo Soria,2019-01-01 00:00:00,NaN,57.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Arturo Soria,2019-01-01 01:00:00,NaN,57.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Arturo Soria,2019-01-01 02:00:00,NaN,57.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Arturo Soria,2019-01-01 03:00:00,NaN,56.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Arturo Soria,2019-01-01 04:00:00,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1268198,Plaza del Carmen,2024-04-15 15:00:00,NaN,29.0,NaN,NaN,NaN,NaN,29.1,NaN
1268199,Plaza del Carmen,2024-07-08 11:00:00,NaN,36.0,NaN,NaN,NaN,NaN,26.3,NaN
1268200,Plaza del Carmen,2024-07-08 12:00:00,NaN,27.0,NaN,NaN,NaN,NaN,28.2,NaN
1268201,Plaza del Carmen,2024-07-17 04:00:00,NaN,28.0,NaN,NaN,NaN,NaN,22.6,NaN
1268202,Plaza del Carmen,2022-09-08 13:00:00,NaN,37.0,NaN,NaN,NaN,NaN,27.0,NaN

In [67]:
df_clean = df_clean.reset_index()
df_completo = df_clean[['ESTACION_NOMBRE', 'DATE', 'HUMEDAD RELATIVA', 'TEMPERATURA', 'PRECIPITACIÓN']]
df_completo

MAGNITUD,ESTACION_NOMBRE,DATE,HUMEDAD RELATIVA,TEMPERATURA,PRECIPITACIÓN
0,Arturo Soria,2019-01-01 00:00:00,57.0,NaN,NaN
1,Arturo Soria,2019-01-01 01:00:00,57.0,NaN,NaN
2,Arturo Soria,2019-01-01 02:00:00,57.0,NaN,NaN
3,Arturo Soria,2019-01-01 03:00:00,56.0,NaN,NaN
4,Arturo Soria,2019-01-01 04:00:00,59.0,NaN,NaN
...,...,...,...,...,...
1268198,Plaza del Carmen,2024-04-15 15:00:00,29.0,29.1,NaN
1268199,Plaza del Carmen,2024-07-08 11:00:00,36.0,26.3,NaN
1268200,Plaza del Carmen,2024-07-08 12:00:00,27.0,28.2,NaN
1268201,Plaza del Carmen,2024-07-17 04:00:00,28.0,22.6,NaN
1268202,Plaza del Carmen,2022-09-08 13:00:00,37.0,27.0,NaN

In [72]:
df_completo.dropna(subset=['TEMPERATURA', 'HUMEDAD RELATIVA'], inplace=True)
df_completo['PRECIPITACIÓN'] = df_completo['PRECIPITACIÓN'].fillna(0)

/tmp/ipykernel_11447/2684420014.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_completo.dropna(subset=['TEMPERATURA', 'HUMEDAD RELATIVA'], inplace=True)
/tmp/ipykernel_11447/2684420014.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_completo['PRECIPITACIÓN'] = df_completo['PRECIPITACIÓN'].fillna(0)

In [73]:
df_completo.isnull().sum()

MAGNITUD
ESTACION_NOMBRE     0
DATE                0
HUMEDAD RELATIVA    0
TEMPERATURA         0
PRECIPITACIÓN       0
dtype: int64

In [79]:
df_completo

MAGNITUD,ESTACION_NOMBRE,DATE,HUMEDAD RELATIVA,TEMPERATURA,PRECIPITACIÓN
27028,Arturo Soria,2022-02-01 00:00:00,53.0,6.9,0.0
27029,Arturo Soria,2022-02-01 01:00:00,53.0,7.3,0.0
27030,Arturo Soria,2022-02-01 02:00:00,56.0,6.9,0.0
27031,Arturo Soria,2022-02-01 03:00:00,57.0,6.8,0.0
27032,Arturo Soria,2022-02-01 04:00:00,56.0,6.7,0.0
...,...,...,...,...,...
1268198,Plaza del Carmen,2024-04-15 15:00:00,29.0,29.1,0.0
1268199,Plaza del Carmen,2024-07-08 11:00:00,36.0,26.3,0.0
1268200,Plaza del Carmen,2024-07-08 12:00:00,27.0,28.2,0.0
1268201,Plaza del Carmen,2024-07-17 04:00:00,28.0,22.6,0.0
1268202,Plaza del Carmen,2022-09-08 13:00:00,37.0,27.0,0.0

In [78]:
df_completo.to_csv('../../transformed/madrid.csv', index=False)